/* @font-face {
    font-family: ofont;
    src: url(/fonts/ofont.ru_LPM\ PuffPuff.ttf);
}

body {
    background-color: rgb(0, 0, 0);
    font-family: ofont;
    color: rgb(255, 145, 0);
}

footer {
    position: fixed;
    background-color: orange;
    display: inline-flex;
    border-radius: 15px;
    text-align: center;

}

.Do {
    margin-left: 30px;
}

.ToMenu {
    
}

a {
    text-decoration: none;
    color: black;
}



.a1 {
    background-color: yellow;
    border-radius: 15px;
    padding-right: 30px;
    margin: 10px;
}

.a2 {
    margin-left: 30px;
    margin: 10px;
    background-color: yellow;
    border-radius: 15px;
    width: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.forecast {
    position: absolute;
    top: 200px;
}

input {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: orange;
}

.push {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: yellow;
    cursor: pointer;
}


.push:hover {
    background-color: orange;
} */


@media screen and (max-width: 2600px) {
    @font-face {
        font-family: ofont;
        src: url(/fonts/ofont.ru_LPM\ PuffPuff.ttf);
    }
    
    body {
        background-color: rgb(0, 0, 0);
        font-family: ofont;
        color: rgb(255, 145, 0);
    }
    
    footer {
        position: absolute;
        background-color: orange;
        display: inline-flex;
        border-radius: 15px;
        text-align: center;
        /* left: 46%; */
    }

    .forecast {
        position: absolute;
        /* left: 45%; */
    }
    
    .Do {
        margin-left: 30px;
    }
    
    .ToMenu {
        
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    
    
    .a1 {
        background-color: yellow;
        border-radius: 15px;
        padding-right: 30px;
        margin: 10px;
    }
    
    .a2 {
        margin-left: 30px;
        margin: 10px;
        background-color: yellow;
        border-radius: 15px;
        width: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .forecast {
        position: absolute;
        top: 200px;
    }
    
    input {
        width: 200px;
        height: 40px;
        border-radius: 15px;
        border: none;
        background-color: orange;
    }
    
    .push {
        width: 200px;
        height: 40px;
        border-radius: 15px;
        border: none;
        background-color: yellow;
        cursor: pointer;
        color: black;
    }
    
    
    .push:hover {
        background-color: orange;
    }

    .text {
        position: absolute;
        top: 450px;
        width: 200px;
        /* left: 46%; */
        display: block;
    }

    input::placeholder {color: rgb(0, 0, 0);}

    .madeBy {
        position: absolute;
        top: 600px;
        /* left: 46%; */
    }

}

/* 
@media screen and (max-width: 500px) {
    footer {
        font-size: 10px;
    }


    a {
        text-decoration: none;
        color: black;
    }
    
    
    
    .a1 {
        background-color: yellow;
        border-radius: 15px;
        margin: 10px;
        width: 50px;
    }
    
    .a2 {
        margin-left: 30px;
        margin: 10px;
        background-color: yellow;
        border-radius: 15px;
        width: 100px;
        width: 40px;
    }


} */